.answersList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
   
}

.answersList li {
    padding: 12px;
    font-weight: bold;
    border-radius: 5px;
    transition: all .5s;
    background-color: rgb(100 116 139);
    color:rgb(226 232 240);
    flex-basis: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
}

.answersList li.hoverable:hover{
    background-color: rgb(16 185 129);
    background-color: rgb(148 163 184);
}

.answersList li.selectedAnswer {
    background-color: rgb(251 146 60);
  }
  
.answersList li.correctAnswer {
    background-color: rgb(74 222 128);
  }
  
.answersList li.wrongAnswer {
   
    background-color: rgb(248 113 113);
  }
  
  .answersControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.answersControls span {
    font-weight: bold;
    color: rgb(63 63 70);
    font-size: 2rem;
}
.answersControls button {
    min-width: 120px;
    min-height: 35px;
    font-size: 1.5rem;
    padding: 6px 12px;
    letter-spacing: 1px;
    background-color: rgb(100 116 139);
    /* border: 3px solid rgb(71 85 105); */
    color: rgb(226 232 240);
    border: none;
    border-radius: 10px;
    transition: all .5s;
}

.answersControls button:hover {
    background-color: rgb(148 163 184);
}