.answersList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
   
}

.answersList li {
    background-color: rgb(167 243 208);
    padding: 12px;
    font-weight: bold;
    color: rgb(64 64 64);
    border-radius: 5px;
    
}

.answersList li.selectedAnswer {
    background-color: goldenrod;
  }
  
.answersList li.correctAnswer {
    background-color: green;
  }
  
.answersList li.wrongAnswer {
    background-color: tomato;
  }
  
  .answersControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: .3rem;
}

.answersControls span {
    font-weight: bold;
    color: rgb(63 63 70);
}