.answersListSummary {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
   
}

.answersListSummary li {
    
    background-color: rgb(161 161 170);
    background-color: rgb(212 212 216);
    background-color: rgb(103 232 249);
    padding: 12px;
    font-weight: bold;
    color: rgb(64 64 64);
    border-radius: 5px;
    
}

.summaryHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.good {
    color: rgb(22 163 74);
    font-size: 1.2rem;
}
.skipped {
   color: rgb(253 186 116);
   font-size: 1.2rem;

}

.wrong {
    color: rgb(239 68 68);
    font-size: 1.2rem;
}
.summaryButtons {
    display: flex;
    justify-content: space-between;
}

.summaryButtons button {
    margin-right: 0;
}



.index-skipped {
    font-weight: bolder;
    font-size: 2.2rem;
    color: rgb(253 186 116);
    
}

.index-wrong {
    font-weight: bolder;
    font-size: 2.2rem;
    color: rgb(239 68 68);
}
.index-correct {
    font-weight: bolder;
    font-size: 2.2rem;
    color: rgb(22 163 74);
}

.answersListSummary li.correct-outline {
    border: 3px solid rgb(22 163 74);
    color: rgb(22 163 74);;
    font-weight: bolder;
}

.answersListSummary li.wrong-outline {
    border: 3px solid red;
    color: red;
    text-decoration-line: line-through;
    font-weight: bolder;
}

.answersListSummary li.chosen-outline {
    background-color: rgb(251 146 60);
}

.percentSummary {
    display: flex;
    justify-content: space-between;
}

.percentSummary > p {
    background-color: blue;
    
    background-color: rgb(148 163 184);
    background-color: rgb(139 92 246);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    color: rgb(221 214 254);
}

.percentSummary > p.skipped {
    color: rgb(253 186 116);
    background-color: rgb(234 88 12);
    background-color: rgb(249 115 22);
    background-color: rgb(234 88 12);
    color: rgb(253 186 116);
}
.percentSummary > p.wrong {
    color: rgb(254 202 202);
    background-color: rgb(239 68 68);
}
.percentSummary > p.correct {
   
        color: rgb(74 222 128);
        background-color: rgb(21 128 61);
      
}

hr {
    margin-top: 2rem;
    height: 3px;
    background-color: black;
}