* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(156 163 175);
  background-color: rgb(209 213 219);
  background-color: rgb(226 232 240)
}
h1 {
  font-size: 4rem;
  font-weight: bolder;
   background-color: rgb(34 211 238);
   padding: 0.5rem;
   margin-block: 1rem;
   border-radius: 1rem;
   text-align: center;
   color: rgb(165 243 252);
   text-shadow: 2px 2px 1px rgb(207 250 254);
}
.App {
  /* text-align: center; */
}
.container {
  margin-inline: auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }  
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
      max-width: 1320px;
  }
}

button { 
  padding-block: 0.3rem;
  padding-inline: 1rem;
  margin-block: 1rem;
  margin-right: 1rem;
  min-width: 75px;
  min-height: 30px;
  background-color: rgb(209 250 229);
  border: 2px solid rgb(52 211 153);
  border-radius: 5%;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

progress {
  width: 100%;
  height: 25px;
  background-color: rgb(156 163 175);
}



.selectedAnswer {
  background-color: goldenrod;
}

.correctAnswer {
  background-color: green;
}

.wrongAnswer {
  background-color: tomato;
}